a, a:hover, a:visited{
    color: #5A5A5A
}
body {
    background-color: #1a1a1a;
    color: white;
}
p {
    line-height: 25px;
}
.bottom-buffer {
    margin-bottom: 20px;
}
.card {
    background-color: #202020;
}
.padtop {
    padding-top: 40px;
}
.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.col-lg-8 {
    min-width: 1000px;
}
.table td {
    border: none;
    color: white;
    padding-bottom: 0px;
}
.tablinks {
    background-color:  #202020;
}
button {
    all: unset;
    margin: 0px auto;
    background-color:  #202020;
    color: white;
    text-align: center;
}
button:focus {
    outline: none;
}
.tab button {
    width: 100px;
    height: 50px;
}
button:hover {
    background-color: #1e1e1e;
}
button.active {
    background-color:  #1e1e1e;
  }
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #202020;
}
::-webkit-scrollbar-thumb {
    background:  #1c1c1c;
}