{% extends "template.html" %}

{% block head %} | Your Profile{% endblock %}

{% block script %}
<script>
    var month_tracks = {{ month_tracks|tojson }};
    var year_tracks = {{ year_tracks|tojson }};
    var alltime_tracks = {{ alltime_tracks|tojson }};
    var month_artists = {{ month_artists|tojson }};
    var year_artists = {{ year_artists|tojson }};
    var alltime_artists = {{ alltime_artists|tojson }};
    var playback = {{ playback|tojson }};
</script>
{% endblock %}

{% block body %}

<nav class="navbar navbar-default fixed-top" style="background-color: #202020; padding: 0px 50px 0px 50px; height : 60px;">
    <ul class="navbar-nav">
        <h3 style="color: white;">Statify</h3>
    </ul>
    <ul class="navbar-nav ml-auto">
        <a href="/logout"><button type="button" class="btn btn-danger">Logout</button></a>
    </ul>
</nav>

<div class="container-fluid" style="padding-top: 100px;">
    <div class="row bottom-buffer">
        <div class="col-lg-8" style="float: none; margin: 0 auto">
            <div class="card d-flex flex-row" style="padding: 40px;">
                <img src="{{ user['pfp'] }}" style="height: 200px; width: 200px;">
                <div style="padding-left: 20px; display: flex; flex-direction: column; justify-content: space-between; width: 100%">
                    <h3>{{ user['name'] }}</h3>
                    <div>
                    {% for item in user['data'] %}
                        <div class="row">
                            <div class="col-4">{{ item[0] }}</div>
                            <div class="col">{{ item[1] }}</div>
                        </div>
                    {% endfor %}
                    </div>
                    <a href="{{ user['url'] }}">Official Profile</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row bottom-buffer">
        <div class="col-lg-8" style="float: none; margin: 0 auto">
            <div class="card d-flex flex-column" id="playbackCard" style="padding: 40px;">
                <div class="row">
                    <div class="col-lg-7">
                        <h3 id="playStatus" style="padding-bottom: 10px;">
                        {% if playback['isPlaying'] %}Currently Playing
                        {% else %}Last Played{% endif %}
                        </h3>
                        <div id="mainTrack" class="d-flex flex-row">
                            <a href="{{ playback['maintrack']['url'] }}"><img src="{{ playback['maintrack']['image'] }}" style="height: 250px; width: 250px;"></a>
                            <div class="d-flex flex-column" style="padding-left: 20px;">
                                <h4 style="max-width: 400px;">{{ playback['maintrack']['title'] }}</h4>
                                <p style="padding-top: 10px;">
                                    {{ playback['maintrack']['artists'] }}<br>
                                    {{ playback['maintrack']['album'] }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="ml-auto" style="padding: 20px 0px 0px 0px;">
                            <h6>History</h6>
                            <div id="recentTracks">
                            {% for num in range(5) %}
                                <a href="{{ playback['recent'][num]['url'] }}"><img src="{{ playback['recent'][num]['image'] }}" style="height: 80px; width: 80px; margin-right: 5px; margin-bottom: 5px;"></a>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row bottom-buffer">
        <div class="col-lg-8" style="float: none; margin: 0 auto;">
            <div class="card text-center" style="padding: 0 auto;">
                <div class="card-body">
                    <button id="lyricsButton" style="padding: 10px; height: 20px; width: 500px;" onclick="loadLyrics()">
                        Find Lyrics for {{ playback['maintrack']['title'] }}
                    </button>
                    <div>
                        <div class="overflow-auto" id="lyrics" style="max-height: 400px; background-color: #2b2b2b"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row bottom-buffer">

        <div class="col-lg-4 padtop" style="float: none; margin-left: auto;">
            <div class="card" style="padding: 0px 30px 30px 30px; height: 600px;">
                <div style="display: flex; justify-content: space-between;">
                    <h5 style="display: inline; padding-top: 30px;">Top Tracks</h5>
                    <div class="tab" id="trackTab" style="display: inline; padding-top: 10px;">
                        <button class="tablinks active" id="month_tracks" onclick="changeTab(this)">This Month</button>
                        <button class="tablinks" id="year_tracks" onclick="changeTab(this)">This Year</button>
                        <button class="tablinks" id="alltime_tracks" onclick="changeTab(this)">All Time</button>
                    </div>
                </div>
                <div class="overflow-auto" style="margin: 0px -10px -10px -10px;">
                    <table class="table" id="trackTable">
                        {% for num in range(50) %}
                        <tr>
                            <td>{{ num+1 }}</td>
                            <td><a href="{{ month_tracks[num]['url'] }}"><img src="{{ month_tracks[num]['image'] }}" style="height: 60px; width: 60px;"></a></td>
                            <td>
                                <h6>{{ month_tracks[num]['title'] }}</h6>
                                <p style="margin-top: -10px;">{{ month_tracks[num]['artists'] }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-4 padtop" style="float: none; margin-right: auto;">
            <div class="card" style="padding: 0px 30px 30px 30px; height: 600px;">
                <div style="display: flex; justify-content: space-between;">
                    <h5 style="display: inline; padding-top: 30px;">Top Artists</h5>
                    <div class="tab" id="artistTab" style="display: inline; padding-top: 10px;">
                        <button class="tablinks active" id="month_artists" onclick="changeTab(this)">This Month</button>
                        <button class="tablinks" id="year_artists" onclick="changeTab(this)">This Year</button>
                        <button class="tablinks" id="alltime_artists" onclick="changeTab(this)">All Time</button>
                    </div>
                </div>
                <div class="overflow-auto" style="margin: 0px -10px -10px -10px;">
                    <table class="table" id="artistTable">
                        {% for num in range(month_artists|length) %}
                        <tr>
                            <td width="40px">{{ num+1 }}</td>
                            <td width="60px"><a href="{{ month_artists[num]['url'] }}"><img src="{{ month_artists[num]['image'] }}" style="height: 60px; width: 60px;"></a></td>
                            <td>
                                <p>{{ month_artists[num]['name'] }}</p>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>

<script src="{{url_for('static', filename='homepage.js')}}"></script>
</div>

{% endblock %}